@import './../../setting';

li.task-item {
    background-color: white;
    padding: $gap;
    border-radius: $column-radius;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    &:not(:last-child){
        margin-bottom: $gap;
    }

    img {
        display: block;
        width: calc(100% + 2* #{$gap});
        margin: -$gap 0 $gap (-$gap);
        // border-radius: $column-radius;  
        border-top-left-radius: $column-radius;
        border-top-right-radius:$column-radius;                 
    }
}