@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$board-bg-color: #0079bf;
$app-bg-color: #50b9f7;
$gap: 10px;
$list-bg-color: #e9ebec;
$column-header-height: 36px;
$column-footer-height: 36px;
$column-radius: 5px;



body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    font-size: 14px;
    line-height: 2.5rem;
    font-weight: 600;
}

.trello-application {
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    line-height: 1.3rem;
    background-color: $board-bg-color;
    font-weight: 500;
    
    .navbar {
        padding-left: $gap;
        display: flex;
        align-items: center;
        
        &.app {
            background-color: $app-bg-color;
            font-size: 1.5rem;
        }

        &.board {
            font-size: 1.1rem;
        }
    }

    .board-columns {
        display: flex;
        overflow-x: auto;
        margin-left: 10px;        
        &::-webkit-scrollbar{
            -webkit-appearance: none;
        }

        &::-webkit-scrollbar:vertical{
            width: 8px;
        }

        &::-webkit-scrollbar-thumb{
            background-color: rgba(255, 255, 255, .24);
            // border-right: 5px solid $list-bg-color;
            border-radius: 8px;
        }

    }

    .column {
        &:not(:first-child){
            margin-left: 10px;
        }

        flex: 0 0 auto;
        width: 300;
        // height: cacl(100% - )
        margin-bottom: 30px;
        > * {
            list-style-type: none;
            background-color: $list-bg-color;
            color: #01090e;
            padding: 0 8px;
        }

        header {

            padding-left: 15px;
            height: $column-header-height;
            line-height: $column-header-height;
            font-size: 18px;
            font-weight: bold;
            border-top-left-radius: $column-radius;
            border-top-right-radius:$column-radius;
        }

        footer{
            padding-left: 10px;
            height: $column-footer-height;
            line-height: $column-footer-height;
            font-size: 18px;
            font-weight: bold;
            border-bottom-left-radius: $column-radius;
            border-bottom-right-radius: $column-radius;
        }

        ul {
            list-style-type: none;
            margin: 0;
            max-height: calc(100% - #{$column-header-height} - #{$column-footer-height});
            overflow-y: auto;
            &::-webkit-scrollbar{
                -webkit-appearance: none;
            }

            &::-webkit-scrollbar:vertical{
                width: 11px;
            }

            &::-webkit-scrollbar-thumb{
                background-color: darken($list-bg-color, 15);
                border-right: 5px solid $list-bg-color;
            }

            li {
                background-color: white;
                padding: $gap;
                border-radius: $column-radius;
                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                &:not(:last-child){
                    margin-bottom: $gap;
                }

                img {
                    display: block;
                    width: calc(100% + 2* #{$gap});
                    margin: -$gap 0 $gap (-$gap);
                    // border-radius: $column-radius;  
                    border-top-left-radius: $column-radius;
                    border-top-right-radius:$column-radius;                 
                }
            }
        }
    }
}